#color{
    background-color: darkgreen;
}
#header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color:white;

    position: relative;
    top: 60px;
    left: 200px;
}

#link1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    
    position : relative;
    top: 5px;
    left: 800px;

}

#link2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    position : relative;
    left: 900px;
    bottom: 18px;
}

#conbutton{
    position: relative;

    left: 1700px;
    bottom: 50px;
}



#chat{
    color:darkgreen;

    font-size: 60px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;

    position:relative;

    top: 100px;
    left: 450px;
}

#label{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    top: 150px;
    left: 450px;
}

#image{

    position: relative;
    left: 1000px;
    bottom: 170px;
}

#footer{
    position: relative;

    background-color: darkgreen;
    color: white;
    top: 300px;
}


#copywrite1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    top: 17px;
    left: 300px;
}

#copywrite2{
    font-family:Arial, Helvetica, sans-serif;

    position: relative;
    left: 1300px;
    bottom: 15px;

}