#color {
    background-color: darkgreen;
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: white;

    position: relative;
    top: 60px;
    left: 200px;
}

#link1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    position: relative;
    top: 5px;
    left: 800px;

}

#link2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    position: relative;
    left: 900px;
    bottom: 18px;
}

#conbutton {
    position: relative;

    left: 1700px;
    bottom: 50px;
}



#left {
    color: rgb(0, 102, 0);
    font-size: 45px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bottom {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;

    position: relative;
    bottom: 23px;
}


#right {
    position: relative;
    left: 1000px;
    top: 300px;
}

#position {
    position: relative;
    left: 400px;

    /* top:2px; */
    bottom: 50px;
}


#footer {
    position: relative;

    background-color: darkgreen;
    color: white;
    top: 270px;
}


#copywrite1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    top: 17px;
    left: 300px;
}

#copywrite2 {
    font-family: Arial, Helvetica, sans-serif;

    position: relative;
    left: 1300px;
    bottom: 15px;

}