*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    padding: 0;
    background:linear-gradient(135deg, #344699 0%, #764ba2 100%);
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-style: italic;

}

.navigation{
    background-color: rgb(14, 14, 58);
    text-align: center;
    font-size: large;
    position: fixed;
    max-width: 100%;
    padding: 10px 10px; /*top-bottom left-right*/
    width: 100%;
    z-index: 999;
}
#name{
    color:white;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-left: -10pc;
}
#navalign{
    display: flex;
    justify-content: center;
    gap:50px;
    flex-direction: row;
}
.navigation a {
    text-decoration: none;        /*to hide the underline*/
    justify-content: space-evenly;

}

/*Using Pseudo Classes to decorate link*/
.navigation a:link{
    color:rgb(194, 185, 185);
}
.navigation a:visited{
    color:rgb(194, 170, 218);
}
.navigation a:hover{
    color:cadetblue;
}
.navigation a:active{
    color:bisque;
}
#mySection{
    position: relative;
    overflow: hidden;
    top: 150px;
    align-items: center;
    z-index: 4;
    
}
span{
    color: red;
}
#image{
    height: 230px;
    width: 250px;
    clip-path: circle();

    position:relative;

    transition-duration: 2s;
}
#image:hover{
    transform: scale(0.8);
}

.container{
    display: flex;
    gap:30px;
    justify-content: space-evenly;
}
.item{
    justify-content: space-evenly;
    font-size: 20px;
}
#button{
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    background-color: rgb(172, 73, 73);
    color:white;
    font-style: italic;
    font-size: 12px;
    
}
#button:hover{
    background-color:rgb(165, 25, 25);
}

#section2{
    position:relative;
    overflow: hidden;
    top: 300px;
    align-items: center;
    justify-content: center;
}
.container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;

    
}
#image2{
    height: 230px;
    width: 250px;
    align-items: center;
    clip-path: circle();

    transition-duration: 2s;
}
#image2:hover{
    transform: scale(0.8);
}

.item2{
    justify-content: space-evenly;
    font-size: 20px;
}
#aboutme{
    align-items: center;
    font-size: 50px;
}

#section3{
    position:relative;
    overflow: hidden;
    top: 350px;
}
.box2{
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    align-items: center;
    
}
#skill-section{
    text-align: center;
}

.all-skills {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: auto;
}

.all-skills div {
  background: #0c0d4939;
  border: 2px solid #161110;
  display: flex;
  height: 15px;
  width: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: white;
  font-weight: 500;
  border-radius: 150px;
}
.all-skills div:hover {
  background: #39207e;
}


.scction3{
    display: flex;
    justify-content: center;
}

.section4 {
  position:relative;
  top: 450px;
  display: flex;  

  justify-content: space-evenly; 
  align-items: left;    
  gap: 20px; 
  
  overflow: hidden;
}



#section5{
    position:relative;
    top: 500px;
    text-align: center;
    background-color: rgb(14, 14, 58);
    padding: 15px;
    color:rgb(194, 185, 185);
}
.wrapper{
    z-index: 0;
}
